#Son_navbar{
    width:100%;
    height: 100px;
}


h1{
    text-align: center;
}
.imge{
    width:80%;
}
#So_container{
    width:80%;
    height: auto;
    margin: auto;
    
}
#So_container1{
    width:95%;
    margin-top: 30px;
    height: auto;
    display: flex;
    
}
#So_box{
    width:60%;
    height:auto;
    display: flex;
    
}
#So_box>div{
    width:32%;
    gap:10px;
    height:auto;
}
.So_wtf{
    text-align: right;
}
.So_wtf>button{
    margin-top: 50px;
}
#So_no_of_products{
    width:5%;
    height:20px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: auto;
}
#So_checkout{
    width:40%;
    height:auto;
}
#So_checkout>div{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.ttl{
    margin-top: 50px;
}
#So_checkout>div>button{
    width:100%;
    color:white;
    background-color: black;
    font-size: large;
    margin-top: 30px;
}
#So_checkout>div>button:hover{
    cursor: pointer;
}
