
#ak-checkout-head{
    width: 100%;
    text-align: center;
    margin-top: 60px;

}
#ak-checkout-div{
    width: 45%;
    line-height: 7px;
    margin: auto;
}
sup{
    color: red;
}
#ak-name{
    display: flex;
    justify-content: space-between;
}
#ak-checkout-div input,#ak-order-div input{
    width: 100%;
     height: 50px;
     box-sizing: border-box;
     border: 1px solid rgb(218, 218, 218);
     padding: 5px;
}
#ak-checkout-div textarea{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(218, 218, 218);
    padding: 5px;
}
#ak-checkout-div button,#ak-order-div button{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(218, 218, 218);
    padding: 5px;
}
#ak-checkout-div select{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(218, 218, 218);
    padding: 5px;
    margin-top: 20px;
}
#ak-checkout-div p{
     font-family: sans-serif;
        
}
textarea{
    height: 70px;
}
#ak-checkout-div>div{
    width: 100%;
}
#ak-name>div{
    width: 45%;
    justify-content: space-between;
}
#ak-name input{
    width: 100%;
}
#ak-place-order-btn{
    margin-top: 20px;
    font-size: 15px;
    height: 45px;
}
#ak-place-order-btn:hover{
    background-color: antiquewhite;
}
/* for order div */
#ak-order-div{
    width: 40%;
}
#ak-accepted-cards{
    width: 100%;
}
#ak-order-div img{
 width: 15%;
 margin-left: 5px;

}
#ak-cart-cvv-div{
    display: flex;
    justify-content: space-between;

}
#ak-cart-cvv-div>div{
    width: 45%;
    justify-content: space-between;
}
ul{
    list-style-type:square;
    line-height: 200%;
    color: rgb(100, 97, 97);

}
#ak-order-notes{
    border: 2px solid;
    border-radius: 3px ;
    margin-top: 30px;
}
#ak-footer{
    margin-top: 10px;
}
