
#So_navbar{
    width:100%;
    height: 80px;
    position: sticky;
    
    
}
#So_carousel{
    width: 100%;
    height: auto;
}


#So_carousel>img{
    width:100%;
    height: 500px;
    
}

#So_left_btn{
    top:50%;
    font-size: 30px;
    background-color: #7F878E;
    position: absolute;
    border: none;
    width:3%;
    
}
#So_middle_btn{
    width:15%;
    height:50px;
    cursor: pointer;
    position: absolute;
    left:45%;
    top:50%;
    color: white;
    background-color: black;
    font-size:  large;
}
#So_right_btn{
    position: absolute;
    width:3%;
    left:97%;
    top:50%;
    border: none;
    font-size: 30px;
    background-color: #7F878E;
}


#So_left_btn:hover{
    cursor: pointer;
    background-color: white;
}




#So_right_btn:hover{
    cursor: pointer;
    background-color: white;
}





#So_container{
    width:100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap:10px;
}

#So_cut{
    display: flex;
    justify-content: space-evenly;
}
#So_cut>p{
    text-decoration: line-through;
}
#So_cut>h3{
    color:#FF6F61;
}
.cntr1{
    z-index: -1;
}


#cntr{
    width:30%;
    position: absolute;
    margin:  80px 950px;
}

#So_container>img{
    width: 100%;
    opacity: 0.8;
    height:300px;
    background-size: cover;
   
}
#So_container>img:hover{
    cursor: pointer;
    opacity: 1.3;
}
#So_cloth{
    height:150px;
    text-align: center;
    margin: auto;
}
#So_category{
    height: 170px;
    width:80%;
    display: flex;
    margin: auto;
    justify-content: space-between;

}

#So_products {
  width: 90%;
  height: 450px;
  display: flex;
  margin: auto;
  gap: 20px;
}
#So_hover {
  position: absolute;
  width: 30%;
  text-align: center;
  background-color: white;
  margin: 280px 80px;
}
#So_hover1 {
  position: absolute;
  width: 30%;
  left: 52%;
  text-align: center;
  background-color: white;
  margin: 280px 80px;
}
#So_hover2 {
  position: absolute;
  width: 30%;
  text-align: center;
  background-color: white;
  margin: 280px 80px;
}
#So_hover3 {
  position: absolute;
  width: 30%;
  left: 52%;
  text-align: center;
  background-color: white;
  margin: 280px 80px;
}
.ttt {
  z-index: -1;
}

.ppp {
  z-index: -1;
}

.www {
  z-index: -1;
}

.kkk {
  z-index: -1;
}

#So_products > img {
  width: 100%;
  height: 350px;
  cursor: pointer;
}
#So_product {
  width: 90%;
  height: 450px;
  display: flex;
  margin: auto;
  gap: 20px;
}
#So_product > img {
  width: 100%;
  height: 350px;
  cursor: pointer;
}

#So_selling {
  text-align: center;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.So_ttt > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/08/photo_2022-02-24_12-22-08-370x370.jpg");
}
.So_ftt > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/08/51it7ZuoqBL-270x270.jpg");
}
.So_mtt > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/08/51ttBYWqRL-1-270x270.jpg");
}

.tet {
  text-align: center;
  height: 100px;
}
.So_test {
  text-align: center;
  height: 100px;
  margin-top: 50px;
}
#So_arrive > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/10/photo_2022-10-13_21-05-25-370x370.jpg");
}

#So_arr > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/10/photo_2022-10-13_21-05-25-150x150.jpg");
}

#So_try > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/10/Picsart_22-10-14_12-29-25-441-370x370.jpg");
}
#So_fry > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/10/photo_2022-10-13_20-22-24-2.jpg");
}

#So_qry > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/10/photo_2022-10-13_20-22-49-130x130.jpg");
}
#So_cry > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/10/photo_2022-10-13_20-22-52-2-130x130.jpg");
}

#So_pry > img:hover {
  cursor: pointer;
  content: url("https://www.uboric.com/wp-content/uploads/2022/10/photo_2022-10-13_20-22-52-130x130.jpg");
}

#So_arrivals {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

#So_arrivals > div > img {
  width: 100%;
}
#So_liner {
  width: 80%;
  line-height: 30px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
#So_cloth > p:hover {
  text-decoration: underline;
}
#So_liner > p {
  text-align: justify;
}
#So_bottom {
  width: 85%;
  margin: auto;
  display: flex;
}
#So_bottom > div {
  width: 50%;
  text-align: left;
  line-height: 30px;
}
#So_bottom > div > img {
  width: 100%;
}
#So_bottom > div > button {
  width: 20%;
  height: 30px;
  color: white;
  background-color: black;
  font-size: large;
  margin-top: 30px;
}
#So_bottom_last {
  width: 85%;
  height: 130px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
#So_bottom_last > div {
  display: flex;
  justify-content: space-between;
  width: 23%;
  gap: 5px;
}
#So_bottom_last > div > div > img {
  margin-top: 30px;
}
#So_iii {
  margin-right: 40px;
}
