*{
    box-sizing: border-box;
    text-decoration: none;
}
#navbar{
    border: 1px solid white;
}
#c_login{
    width: 30%;
    margin: auto;
    margin-top: 100px;
}
form{
    width: 100%;
}
form input{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 5px;
}
input[type="submit"]{
    height: 35px;
    margin-top: 5%; 

}
::placeholder{
    font-size: 115%;
}
input[type="submit"]:hover{
    cursor: pointer;
}

#ak_signUp{
    display: inline-block;
    position: relative;
   }   
   #ak_signUp:after{
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 1px;
   bottom: -5px;
   left: 0;
   background-color: #a3b49b;
   color: #a3b49b;
   transform-origin:left;
   transition: transform 0.35s ease-out;
   }
   #ak_signUp:hover:after{
   transform: scaleX(1);
   }