
#navbar{
    border:1px solid white;
}


#conatiner{
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
    margin-top: 100px;
}
#c_filter{
    width: 28%;
    border: 5px solid blue;
    padding: 2%;
}
#c_products{
    width: 68%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2%;
    row-gap: 20px;
}

#c_products>div {
    border: 1px solid black;
    padding: 3%;
    text-align: center;
}
#c_products>div:hover{
    cursor: pointer;
}
#c_products>div img{
    display: block;
    margin: auto;
    width: 100%;
}
#c_pagination{
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-around;
   
}
#c_pagination button{
    display: block;
    margin-right: 10px;
}
h3{
    margin-bottom:-15px;
}
#pagination_button{
    margin: 30px 10px;
    height: 30px;
    width: 25px;
    border: none;
    background-color: white;
}
#pagination_button:hover{
    cursor: pointer;
    border: 1px solid gray;
}
